@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@5.2/distr/fira_code.css);

code {
    font-family: 'Fira Code', monospace;
}

@supports (font-variation-settings: normal) {
    code {
        font-family: 'Fira Code VF', monospace;
    }
}

:root {
    --background: #0d1926;
    --foreground: #b4e1fd;
    --black: #363636;
    --blue: #0883ff;
    --cyan: #08ff83;
    --green: #83ff08;
    --purple: #8308ff;
    --red: #ff0883;
    --white: #b6b6b6;
    --yellow: #ff8308;
    --brightBlack: #424242;
    --brightBlue: #1e8eff;
    --brightCyan: #1eff8e;
    --brightGreen: #8eff1e;
    --brightPurple: #8e1eff;
    --brightRed: #ff1e8e;
    --brightWhite: #c2c2c2;
    --brightYellow: #ff8e1e;
}

html {
    background-color: var(--background);
    color: var(--foreground);
    font-family: Fira Code, sans-serif;
}

header {
    color: var(--cyan);
    text-align: center;
    margin-top: 100px;
}

main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#clock-holder {
    margin: 100px;
}

.search {
    margin-bottom: 20px;
}

.input_box {
    border: none;
    border-bottom: 2px solid var(--red);
    min-width: 750px;
    max-width: 900px;
    background-color: transparent;
    color: var(--foreground);
    outline: 0;
    font-size: 18px;
}

#bookmark {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 40px;
}

.bookmark_icon {
    width: 35px;
    height: 35px;
}

.bookmark_icon:hover {
    transform: scale(1.4);
}
